:root {
    --primary: #0EA74B;
    --secondary: #a4926a;
    --black: #222;
}

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 20px;
}
body {
    background: #fff;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--black);
}

a {
    color: var(--primary);
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-underline-offset: 5px;
}
    a:hover {
        color: #000;
    }

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.3;
    margin: 45px 0 30px 0;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}

p {
    margin: 0.5rem 0 1.1rem 0;
}

hr {
    background: #e3d2af;
    border: 0;
    height: 1px;
    margin: 45px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
}
    th, td {
        padding: 10px 20px;
        text-align: left;
        vertical-align: top;
    }
    th {
        background: #ece6da;
    }
    td {
        background: #fff;
    }

code {
    padding: 0 10px;
    border-radius: 10px;
}
    pre {
        border-radius: 10px;
        max-width: 100%;
    }
    pre code {
        display: block;
        overflow: scroll;
        max-height: 50vh;
    }
    code:not(pre code) {
        background: #edfbf3;
        display: inline-block;
    }
sup a {
    text-decoration: none;
    padding: 0;
    text-decoration-thickness: 0;
    text-underline-offset: 0;
}

input, textarea {
    padding: 10px;
    font-size: 1rem;
    border-radius: 3px;
    border: 1px solid #aaa;
    width: 100%;
}
button {
    font-size: 1rem;
    border: 0;
    cursor: pointer;
}

ul.flat {
    list-style-type: none;
    padding: 0;
}

button, .button {
    background: var(--black);
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 15px 50px;
    border-radius: 30px;
    border: 0;
}
    button:hover,
    .button:hover {
        background: var(--primary);
        color: #fff;
    }

.error {
    background: #fbefef;
    color: #b23f3f;
    padding: 15px;
    border: 1px solid #fecaca;
}
.success {
    background: #ecfff4;
    color: var(--primary);
    padding: 15px;
    border: 1px solid #aee1c3;
}

.main {
    margin-top: 45px;
    margin-bottom: 30px;
}

.container-fluid {
    max-width: 1200px;
}

.header {
    margin-bottom: 10vh;
}
    .header nav {
        text-align: right;
    }
        .header nav a {
            margin-left: 30px;
            text-decoration: none;
        }


.logo img {
    max-height: 72px;
    transition: transform 0.7s ease-in-out;
}
    .logo img:hover {
      transform: rotate(30deg); /* Full rotation on hover */
    }

.intro {
    margin: 15vh 0 60px 0;
}
    .intro .title {
        font-size: 2.5rem;
        line-height: 1.3;
        margin: 0 0 30px 0;
    }
    .intro h2 {
        margin: 0 0 30px 0;
    }
    .intro p {
        color: #777;
    }
    .definition {
        font-size: 0.875rem;
        color: #888;
    }
    .definition ul {
        padding: 0 0 0 15px;
    }
    .intro .name span {
        color: var(--primary);
    }
    .intro code {
        padding: 0;
        background: none;
    }

.validate textarea {
    height: 50vh;
}
.validate .message {
    display: none;
}



.footer {
    margin: 60px 0 15px 0;
    color: var(--secondary);
    font-size: 0.875rem;
}
    .footer a {
        text-decoration: none;
    }

.avatar {
    font-size: 0.875rem;
}
    .avatar img {
        border-radius: 100%;
        max-width: 52px;
    }
    .avatar div:first-child {
        flex-basis: 75px;
        flex-grow: 0;
    }
    .avatar div:last-child {
        flex-grow: 1;
    }
    .avatar .title {
        color: #888;
        display: block;
    }
    .avatar .links {
        margin-top: 10px;
    }
    .avatar .links img {
        opacity: 0.4;
        max-height: 20px;
        margin-right: 5px;
    }

    .main-post .avatar {
        margin-top: 85px;
        position: sticky;
        top: 30px;
    }

@media (max-width: 500px) {
    .main {
        padding: 20px;
        margin: 0;
    }
    .row {
        margin-right: 0;
        margin-left: 0;
    }
}