[app]
address = ":9000"

# The website URL to be used on the frontend pages.
# Example: portal.site.com
root_url = "http://localhost:9000"

template_dir = "site"

admin_username = ""
admin_password = ""


[data_files]
spdx = "data/spdx.json"
languages = "data/languages.json"
currencies = "data/currencies.json"

[site]
home_num_tags = 25
home_num_projects = 20

enable_captcha = false

# Altcha CAPTCHA complexity factor. 0 to nn
captcha_complexity = 50000

# Default status to assign on submission.
default_submission_status = "active"

dump_filename = "funding-manifests.tar.gz"


[crawl]
manifest_uri = "/funding.json"
wellknown_uri = "/.well-known/funding-manifest-urls"

# Number of concurrent goroutine workers crawling manifests.
workers = 100

# The frequency at which an individual manifest should be re-crawled and re-scanned.
# This is based on the "updated_at" field of a manifest record.
manifest_age = "5 DAYS"

# Number of records to fetch from the DB in one shot and queue for crawling.
batch_size = 10000

# If a host returns 429, disable requests to it for the rest of the session.
skip_ratelimited_host = true

# Fetch the .well-known URL and verify provenance of all URLs described in the manifest?
check_provenance = true

# Maximum crawl errors after which a manifest is no longer re-crawled.
max_crawl_errors = 5

# Mark an entry as "disabled" (hides from all public view) after it exceeds max_crawl_errors?
disable_on_errors = false

# HTTP requests.
max_host_conns = 100
retries = 2 # minimum 1
retry_wait = "1s" # minimum 1
req_timeout = "3s"
max_bytes = 320000 # bytes
useragent = "funding-manifest-bot"

disallowed_domains = [
	"*.githubusercontent.com",
	"*.amazonaws.com"
]

[db]
host = "localhost"
port = 5432
db = "floss"
user = "floss"
password = "floss"
