{{ define "header" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ .Data.Title }} {{ if .Data.Title }} &mdash; {{ end}} FLOSS/Fund</title>
  <meta name="description" content="{{ if HasField .Data "Page" }}{{ .Data.Page.Description }}{{ else }}Discover Free and Open Source Projects seeking funding and financial assistance{{ end }}" />
  <meta name="keywords" content="foss funding, open source funding, funding manifest, free software funding, directory" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400..500;1,400..500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ .RootURL }}/static/base.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ .RootURL }}/static/style.css" />
</head>

<body>
<section class="mast">
  <header class="header">
    <div class="container">
      <div class="row bar">
        <div class="col-6">
          <div class="logo"><a href="{{ .RootURL }}"><img src="{{ .RootURL }}/static/logo.svg" alt="" /></a></div>
        </div>
        <nav class="col-end nav">
          <a href="{{ .RootURL }}/submit">Submit</a>
          <a href="https://floss.fund">FLOSS/Fund</a>
        </nav>
      </div>

      {{ $q := HasField .Data "Q" }}
      <form action="{{ $.RootURL }}/search" class="search">
          <div class="input">
            <input type="text" name="q" maxlength="128" value="{{ if $q }}{{ .Data.Q.Query }}{{ end }}" 
              data-autocomp-tags placeholder="eg: developer-tools / project name / author name"
              {{ if or (HasField .Data "Index") (HasField .Data "Q")  }}autofocus{{ end }} />
          </div>
          <div class="row options text-small text-grey">
            <div class="col-6">
              <label><input type="radio" name="type" value="project" id="type-project" {{ if or (not $q) (eq .Data.Q.Type "project" ) }}checked{{ end }} /> Project</label>
              <label><input type="radio" name="type" value="entity" {{ if and $q (eq .Data.Q.Type "entity" ) }}checked{{ end }} /> Entity</label>
            </div>
            <div class="col-end more">
              <label><input type="radio" name="field" value="name" {{ if or (not $q) (eq .Data.Q.Field "name" ) }}checked{{ end }} /> Name</label>
              <label><input type="radio" name="field" value="tags" {{ if and $q (eq .Data.Q.Field "tags" ) }}checked{{ end }} /> Tags</label>
            </div>
          </div>
      </form>


      {{ if HasField .Data "Manifest" }}
        <div class="heading">
          <h1 class="title">{{ .Data.Heading }}</h1>
          <div class="subheading meta text-grey text-small">
            {{ if and (HasField .Data "Project") (ne .Data.Project.GUID "") }}
              <a href="{{ .RootURL }}/view/{{ .Data.Manifest.GUID }}">
                by <img src="{{ .RootURL }}/static/ico-{{ .Data.Manifest.Entity.Type }}.svg" /> {{ title .Data.Manifest.Entity.Name }}
              </a>
            {{ else }}
                <img src="{{ .RootURL }}/static/ico-{{ .Data.Manifest.Entity.Type }}.svg" /> {{ title .Data.Manifest.Entity.Type }}
            {{ end }}
          </div><!-- subheading -->
        </div>
      {{ else }}
        <h1 class="title">{{ .Data.Heading }}</h1>
      {{ end }}

      {{ if .Data.Tabs }}
        <nav class="tabs">
        {{ range $t := .Data.Tabs }}
          <a href="{{ $t.URL }}" class="tab {{ if $t.Selected }}sel{{ end }}"><span>{{ $t.Label }}</span></a>
        {{ end }}
        </nav>
      {{ end }}
    </div>
  </header>
</section>
  <div class="container main">
    <section class="section content">
{{ end }}

{{ define "footer" }}
    </section>
  </div>

  <footer class="container footer">
    &copy; 2024. <a href="https://floss.fund">FLOSS/Fund</a>
  </footer>
  <script type="module" src="{{ .RootURL }}/static/main.js"></script>
</body>
</html>
{{ end }}
