{{ define "header" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ .Data.Title }} {{ if .Data.Title }} &mdash; {{ end}} FLOSS/Fund</title>
  <meta name="description" content="{{ if HasField .Data "Page" }}{{ .Data.Page.Description }}{{ else }}Discover Free and Open Source Projects seeking funding and financial assistance{{ end }}" />
  <meta name="keywords" content="foss funding, open source funding, funding manifest, free software funding, directory" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:image" content="{{ .RootURL }}/static/thumb.png">
  <link rel="shortcut icon" href="{{ .RootURL }}/static/favicon.png" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ .RootURL }}/static/base.css?v={{ .AssetVer }}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ .RootURL }}/static/style.css?v={{ .AssetVer }}" />
</head>

<body>
<section class="mast">
  <header class="header">
    <div class="container">
      <div class="row bar">
        <div class="col-4">
          <div class="logo"><a href="{{ .RootURL }}" aria-label="Home"><img src="{{ .RootURL }}/static/logo.svg" alt="FLOSS/Fund directory logo" /></a></div>
        </div>
        <nav class="col-8 col-end nav" aria-label="Main navigation">
          <a href="{{ .RootURL }}/submit">Submit</a>
          <a href="https://floss.fund/funding-manifest">Docs</a>
          <a href="https://floss.fund">FLOSS/Fund</a>
        </nav>
      </div>

      {{ $q := HasField .Data "Q" }}
      <form action="{{ $.RootURL }}/search" class="search" aria-label="Search form">
          <div class="input">
            <input type="text" name="q" required maxlength="128" value="{{ if $q }}{{ .Data.Q.Query }}{{ end }}"
              data-autocomp-tags placeholder="eg: developer-tools / project name / author name"
              {{ if or (HasField .Data "Index") (HasField .Data "Q")  }}autofocus{{ end }} />
            <button type="submit">Search</button>
          </div>
          <fieldset class="row options text-small text-grey" role="group" aria-label="Search options">
            <div class="col-6">
              <label><input type="radio" name="type" value="entity" {{ if or (not $q) (eq .Data.Q.Type "entity" ) }}checked{{ end }} /> Entity</label>
              <label><input type="radio" name="type" value="project" id="type-project" {{ if and $q (eq .Data.Q.Type "project" ) }}checked{{ end }} /> Project</label>
            </div>
            <div class="col-end more">
              <label><input type="radio" name="field" value="name" {{ if or (not $q) (eq .Data.Q.Field "name" ) }}checked{{ end }} /> Name</label>
              <label><input type="radio" name="field" value="tags" {{ if and $q (eq .Data.Q.Field "tags" ) }}checked{{ end }} /> Tags</label>
            </div>
          </fieldset>
      </form>


      {{ if HasField .Data "Manifest" }}
        <div class="heading">
          <h1 class="title">{{ .Data.Heading }}</h1>
          <div class="subheading meta text-grey text-small">
            {{ if and (HasField .Data "Project") (ne .Data.Project.GUID "") }}
              <a href="{{ .RootURL }}/view/{{ .Data.Manifest.GUID }}">
                by <img src="{{ .RootURL }}/static/ico-{{ .Data.Manifest.Entity.Type }}.svg" alt="" aria-hidden="true" /> {{ title .Data.Manifest.Entity.Name }}
              </a>
            {{ else }}
                <img src="{{ .RootURL }}/static/ico-{{ .Data.Manifest.Entity.Type }}.svg" alt="" aria-hidden="true" /> {{ title .Data.Manifest.Entity.Type }}
            {{ end }}
          </div><!-- subheading -->
        </div>
      {{ else }}
        <h1 class="title">{{ .Data.Heading }}</h1>
      {{ end }}

      {{ if .Data.Tabs }}
        <nav class="tabs" role="tablist">
        {{ range $t := .Data.Tabs }}
          <a href="{{ $t.URL }}" id="tab-{{ $t.ID }}" class="tab {{ if $t.Selected }}sel{{ end }}" role="tab" {{ if $t.Selected }}aria-selected="true"{{ end }}>
            <span>{{ $t.Label }}</span>
          </a>
        {{ end }}
        </nav>
      {{ end }}
    </div>
  </header>
</section>
  <div class="container main">
    {{ if HasField .Data "Manifest" }}{{ template "crawl-error" . }}{{ end }}
    <section class="section content">

{{ end }}

{{ define "footer" }}
    </section>
  </div>

  <footer class="container footer">
    &copy; 2024. <a href="https://floss.fund">FLOSS/Fund</a>. 
    Listing content licensed under CC BY-SA 4.0.
    <a href="https://github.com/floss-fund/portal">Source.</a>
  </footer>
  <script type="module" src="{{ .RootURL }}/static/main.js?v={{ .AssetVer }}"></script>
</body>
</html>
{{ end }}
