{{ define "index" }}
{{ template "header" .}}

<section class="home">
	<div class="intro">
		<h1 class="title">Funding for FOSS projects</h1>
		<p>
			Open directory of Free and Open Source projects looking for funding and financial assistance. Crawls funding.json (<a href="https://fundingjson.org">fundingjson.org</a>) manifests.
		</p>
	</div>

	<div class="updates">
		{{ if .Data.Tags }}
			<div class="block box" role="region">
				<h3>Popular tags</h3><br />
				{{ template "tags" .Data.Tags }}
			</div>
		{{ end }}

		{{ if .Data.Results }}
			<div class="block">
				<h3>Recent projects</h3>
				{{ template "project-recent" . }}
			</div>
		{{ end }}
	</div>
</section>

{{ template "footer" .}}
{{ end }}
