{{ define "index" }}
{{ template "header" .}}

<section class="home">
	<div class="intro">
		<h1 class="title">Funding for FOSS projects</h1>
		<p>
			Open directory of Free and Open Source projects looking for funding and financial assistance. Crawls funding.json (<a href="https://fundingjson.org">fundingjson.org</a>) manifests.
		</p>
	</div>

	<div class="updates">
		{{ if .Data.Tags }}
			<div class="block box top-tags" role="region">
				<h2 class="title">Popular tags</h2>
				{{ template "tags" .Data.Tags }}
			</div>
		{{ end }}

		{{ if .Data.Results }}
			<div class="block recent-projects" role="region">
				<h2 class="title">Recent projects</h2>
				{{ template "project-list" . }}
			</div>
		{{ end }}
	</div>
</section>

{{ template "footer" .}}
{{ end }}
