{{ define "manifest" }}
{{ template "header" . }}

<section class="manifest">
    <header class="hero">
      <div class="meta row text-small">
        <div class="entity col-lg-8">
          <p class="text-small text-grey">{{ $.Data.Manifest.Entity.Description }}</p>
        </div>
        <div class="entity col-lg-3 col-lg-offset-1">
          {{ if .Data.Manifest.Entity.Phone }}
            <div class="item">
              <a href="tel:{{ .Data.Manifest.Entity.Phone }}"><img src="{{ .RootURL }}/static/ico-phone.svg" /> {{ .Data.Manifest.Entity.Phone }}</a>
            </div>
          {{ end }}

          <div class="item">
            <a href="mailto://{{ .Data.Manifest.Entity.Email }}"><img src="{{ .RootURL }}/static/ico-email.svg" /> {{ .Data.Manifest.Entity.Email }}</a>
          </div>

          <div class="item">
            <a href="{{ .Data.Manifest.Entity.WebpageURL.URL }}" rel="noreferer nofollow">
              <img src="{{ .RootURL }}/static/ico-link.svg" />
              {{ trimPrefix "http://" (trimPrefix "https://" .Data.Manifest.Entity.WebpageURL.URL) }}
            </a>
          </div>
        </div>
      </div>
    </header>

    {{ if eq .Data.Tab "projects" }}
      {{ template "projects" . }}
    {{ else if eq .Data.Tab "history" }}
      {{ template "history" . }}
    {{ else }}
      {{ template "funding" . }}
    {{ end }}

    {{ if .Data.ErrMessage }}
        <div class="message error">{{ .Data.ErrMessage }}</div>
    {{ end }}
</section>

{{ template "footer" .}}
{{ end }}
