{{ define "projects" }}
{{ template "header" . }}

<h2>Projects ({{ len .Data.Manifest.Projects }})</h2>

<section class="results projects">
  <ul>
      {{ range $r := .Data.Manifest.Projects }}
      <li class="result">
        <header>
          <div class="row">
            <div class="col-9">
              <h3 class="title"><a href="{{ $.RootURL }}/view/project/{{ $.Data.Manifest.GUID }}/{{ $r.GUID }}">{{ .Name }}</a></h3>
            </div>
            <div class="col-3 col-end props">
              <span class="license text-small text-grey">
                  {{ $len := sub (len .Licenses) 1 }}
                  {{ trimPrefix "spdx:" (index .Licenses 0) }} {{ if (gt $len 0) }} +{{ $len }}{{ end }}
              </span>
              <a href="{{ $r.WebpageURL.URL }}" rel="noreferer nofollow" title="{{ trimPrefix "http://" (trimPrefix "https://" $r.WebpageURL.URL) }}">
                <img src="/static/ico-link.svg" />
              </a>  
              <a href="{{ $r.RepositoryURL.URL }}" rel="noreferer nofollow" title="{{ trimPrefix "http://" (trimPrefix "https://" $r.RepositoryURL.URL) }}">
                <img src="/static/ico-repo.svg" />
              </a>  
            </div>
          </div>
        </header>

        <p class="description">{{ abbrev 200 .Description }}</p>

        <footer>
          <div class="tags">
            {{ template "tags" .Tags }}
          </div>
        </footer>
      </li>
      {{ end }}
  </ul>
</section>

{{ template "footer" . }}
{{ end }}
