{{ define "project" }}
{{ template "header" . }}

<section class="project" aria-labelledby="tab-project">
  {{ $r := .Data.Project }}
    <div class="row">
      <div class="col-7" role="region">
        <div class="description" aria-label="Project description">{{ Nl2br $r.Description }}</div>

        <hr />
        <p>
          <a href="{{ $.RootURL }}/view/funding/{{ $.Data.Manifest.GUID }}" class="button">
            <img src="{{ .RootURL }}/static/ico-wallet.svg" alt="" aria-hidden="true" />
            Fund this project
          </a>
        </p>
      </div>

      <div class="col-4 col-end" role="region" aria-label="Properties">
        <div class="props">
          <div class="block" role="region" aria-labelledby="links-title">
            <h4 class="title" id="links-title">Links</h4>
            <div class="meta">
              {{ template "verified-link"
                ( dict
                  "manifest_url" $.Data.Manifest.Manifest.URL
                  "target_url" $r.WebpageURL
                  "icon" "/static/ico-link.svg"
                  "label" true
                )
              }}
              <br />
              {{ template "verified-link"
                ( dict
                  "manifest_url" $.Data.Manifest.Manifest.URL
                  "target_url" $r.RepositoryURL
                  "icon" "/static/ico-repo.svg"
                  "label" true
                )
              }}

            </div>
          </div><!-- links -->

          <div class="block licenses" role="region" aria-labelledby="license-title">
            <h4 class="title" id="license-title">License</h4>
            <ul class="flat">
            {{ range $l := $r.Licenses }}
              <li class="text-grey">
                  {{ trimPrefix "spdx:" $l }}
              </li>
            {{ end }}
            </ul>
          </div><!-- licenses -->

          <div class="block tags" role="region" aria-labelledby="tags-title">
            <h4 class="title" id="tags-title">Tags</h4>
            {{ template "tags" $r.Tags }}
          </div><!-- tags -->
        </div><!-- props -->
      </div>
    </div>

    {{ if .Data.ErrMessage }}
        <div class="message error">{{ .Data.ErrMessage }}</div>
    {{ end }}
</section>

{{ template "footer" .}}
{{ end }}
