{{ define "projects" }}
{{ template "header" . }}

<h2>Projects ({{ len .Data.Manifest.Projects }})</h2>

<section class="results projects" aria-labelledby="tab-projects">
  <ul>
      {{ range $r := .Data.Manifest.Projects }}
      <li class="result">
        <header>
          <div class="row">
            <div class="col-9">
              <h3 class="title"><a href="{{ $.RootURL }}/view/project/{{ $.Data.Manifest.GUID }}/{{ $r.GUID }}">{{ .Name }}</a></h3>
            </div>
            <div class="col-3 col-end props" role="region">
              <span class="license text-small" aria-label="Licenses">
                  {{ $len := sub (len .Licenses) 1 }}
                  {{ trimPrefix "spdx:" (index .Licenses 0) }} {{ if (gt $len 0) }} +{{ $len }}{{ end }}
              </span>

              {{ template "verified-link"
                ( dict
                  "manifest_url" $.Data.Manifest.Manifest.URL
                  "target_url" $r.WebpageURL
                  "icon" "/static/ico-link.svg"
                  "label" false
                )
              }}

              {{ template "verified-link"
                ( dict
                  "manifest_url" $.Data.Manifest.Manifest.URL
                  "target_url" $r.RepositoryURL
                  "icon" "/static/ico-repo.svg"
                  "label" false
                )
              }}
            </div>

          </div>
        </header>

        <p class="description" aria-label="Project description">{{ abbrev 200 .Description }}</p>

        <footer>
          {{ template "tags" .Tags }}
        </footer>
      </li>
      {{ end }}
  </ul>
</section>

{{ template "footer" . }}
{{ end }}
