{{ define "submit" }}
{{ template "header" . }}

<p>
    Submitting a funding manifest here makes it publicly discoverable on the directory.
    It also creates an application for a FLOSS/Fund grant.
    <a href="https://floss.fund/faq">See FAQs.</a>
</p>
<hr />
<form method="post" action="" class="submit" aria-label="Submission form">
  <div>
    <label for="funding-url">funding.json manifest URL</label>
    <p>
      <input id="funding-url" type="url" name="url" placeholder="https://yoursite.com/funding.json" required autofocus maxlength="300" />
    </p>
    {{ if .Data.EnableCaptcha }}
      <altcha-widget challengeurl="{{ .RootURL }}/api/captcha"></altcha-widget>
    {{ end }}
    <br />
    <p><button type="submit">Submit</button></p>
  </div>
</form>

{{ if .Data.ErrMessage }}
    <div class="message error">{{ .Data.ErrMessage }}</div>
{{ else if eq .Data.Message "success" }}
    <div class="message success">
        The manifest has been submitted.
    </div>
{{ else if ne .Data.Message "" }}
    <div class="message">
      {{ .Data.Message }}
    </div>
{{ end }}

<hr />
<h3>What is a funding.json manifest?</h3>
<p>
  A funding.json manifest is a JSON file that describes the funding requirements and financial needs of a project. See <a href="https://fundingjson.org">fundingjson.org</a>.
</p>
<p>
  It can be hosted on a project's or organisation's website, or a repository such as https://github.com/user/project/blob/main/funding.json
</p>

{{ if .Data.EnableCaptcha }}<script async defer src="{{ .RootURL }}/static/altcha.js?v={{ .AssetVer }}" type="module"></script>{{ end }}

{{ template "footer" .}}
{{ end }}
