{{ define "submit" }}
{{ template "header" . }}

<p>
    Submitting a funding manifest here makes it publicly discoverable on the directory.
    It also creates an application for a FLOSS/Fund grant.
    <a href="https://floss.fund/faq">See FAQs.</a>
</p>
<hr />
<form method="post" action="" class="submit" aria-label="Submission form">
  <div>
    <label for="funding-url">funding.json manifest URL</label>
    <p>
      <input id="funding-url" type="url" name="url" placeholder="https://yoursite.com/funding.json" required autofocus maxlength="300" />
    </p>
    <button type="submit">Submit</button>
  </div>
</form>

{{ if .Data.ErrMessage }}
    <div class="message error">{{ .Data.ErrMessage }}</div>
{{ else if eq .Data.Message "success" }}
    <div class="message success">
        The manifest has been submitted and will appear publicly on the directory after manual review.
    </div>
{{ else if ne .Data.Message "" }}
    <div class="message">
      {{ .Data.Message }}
    </div>
{{ end }}

<br /><br />
<hr />
<h3>What is funding.json manifest?</h3>
<p>
  funding.json manifest is a JSON file that describes the funding requirements and financial needs of a project. <a href="https://floss.fund/funding-manifest">Read the docs</a>.
</p>
<p>
  It can be hosted on a project's or organisation's website, or a repository such as https://github.com/user/project/blob/main/funding.json
</p>

{{ template "footer" .}}
{{ end }}
