{{ define "entity-list" }}
<section class="results entities" aria-label="Entity search results">
    <ul>
        {{ range $r := .Data.Results }}
        <li class="result">
          <header>
            <div class="row">
                <div class="col-9">
                    <h3 class="title"><a href="{{ $.RootURL }}/view/{{ $r.ManifestGUID }}">{{ .Name }}</a></h3>
                    <div class="meta text-grey">
                        <img src="{{ $.RootURL }}/static/ico-{{ $r.Type }}.svg" alt="" aria-hidden="true" /> {{ title $r.Type }} ({{ $r.NumProjects }} projects)
                    </div>
                    <p>{{ abbrev 200 $r.Description }}</p>
                </div>
                <div class="col-3 col-end">
                    <div class="meta">
                      <a href="{{ $r.WebpageURL }}" rel="noreferer nofollow" class="ellip">
                        <img src="/static/ico-link.svg" alt="" aria-hidden="true" /> {{ trimPrefix "http://" (trimPrefix "https://" $r.WebpageURL.URL) }}
                      </a>  
                      {{ template "verified-link"
                        ( dict
                          "manifest_url" $r.ManifestURL
                          "target_url" $r.WebpageURL
                          "icon" "/static/ico-link.svg"
                          "label" true
                        )
                      }}
                    </div>
                </div>
            </div>
          </header>
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}
