{{ define "entity-list" }}
<section class="results entities" aria-label="Entity search results">
    <ul>
        {{ range $r := .Data.Results }}
        <li class="result">
          <header>
            <div class="row">
                <div class="col-9">
                  <div class="title">
                    <h4><a href="{{ $.RootURL }}/view/{{ $r.ManifestGUID }}">{{ .Name }}</a></h4>
                    <div class="meta text-grey">
                        <img src="{{ $.RootURL }}/static/ico-{{ $r.Type }}.svg" alt="" aria-hidden="true" /> {{ title $r.Type }} ({{ $r.NumProjects }} projects)
                    </div>
                  </div>
                  <p class="description">{{ abbrev 200 $r.Description }}</p>
                </div>
                <div class="col-3 col-end">
                    <div class="meta"> 
                      {{ template "verified-link"
                        ( dict
                          "manifest_url" $r.ManifestURL
                          "target_url" $r.WebpageURL
                          "icon" "/static/ico-link.svg"
                          "label" false
                        )
                      }}
                    </div>
                </div>
            </div>
          </header>
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}
