{{ define "project-search" }}
<section class="results projects">
  <ul>
      {{ range $r := .Data.Results }}
      <li class="result">
        <header>
          <div class="row">
            <div class="col-xs-9">
              <h3 class="title"><a href="{{ $.RootURL }}/view/projects/{{ $r.ID }}">{{ .Name }}</a></h3>
                <div class="meta">
                  <a href="{{ $.RootURL }}/view/{{ $r.ManifestGUID }}">
                    <img src="{{ $.RootURL }}/static/ico-{{ $r.EntityType }}.svg" /> {{ $r.EntityName }}
                    {{ if $r.EntityNumProjects }}<span class="num-projects">({{ $r.EntityNumProjects }} projects</span>){{ end }}
                  </a>
                </div>
            </div>
            <div class="col-xs props">
              <span class="col-xs license text-small text-grey">
                  {{ $len := sub (len .Licenses) 1 }}
                  {{ trimPrefix "spdx:" (index .Licenses 0) }} {{ if (gt $len 0) }} +{{ $len }}{{ end }}
              </span>
              <a href="{{ $r.WebpageURL }}" rel="noreferer nofollow" title="{{ trimPrefix "http://" (trimPrefix "https://" $r.WebpageURL) }}">
                <img src="/static/ico-link.svg" />
              </a>  
              <a href="{{ $r.RepositoryURL }}" rel="noreferer nofollow" title="{{ trimPrefix "http://" (trimPrefix "https://" $r.RepositoryURL) }}">
                <img src="/static/ico-repo.svg" />
              </a>  
            </div>
          </div>
        </header>

        <p class="description">{{ abbrev 200 .Description }}</p>

        <footer class="meta">
          <div class="tags">
            {{ range $v := .Tags }}
              <a href="/search?tag={{ $v }}&type=project" class="tag">{{ $v }}</a>
            {{ end }}
          </div>
        </footer>
      </li>
      {{ end }}
  </ul>
</section>
{{ end }}
