{{ define "project" }}
<header>
  <div class="row">
    <div class="col-9">
      <div class="title">
        <h4><a href="/view/project/{{ .GUID }}">{{ .Name }}</a></h4>
        <div class="meta">
          <a href="/view/{{ .Entity.ManifestGUID }}">
            <img src="/static/ico-{{ .Entity.Type }}.svg" alt="" aria-hidden="true" /> {{ .Entity.Name }}
            {{ if .Entity.NumProjects }}<span class="num-projects">({{ .Entity.NumProjects }} {{ .Entity.NumProjects | plural "project" "projects" }}</span>){{ end }}
          </a>
        </div>
      </div>
    </div>
    <div class="col-3 col-end props">
      {{ template "verified-link"
        ( dict
          "manifest_url" .Entity.ManifestURL
          "target_url" .WebpageURL
          "icon" "/static/ico-link.svg"
          "label" false
        )
      }}
      {{ template "verified-link"
        ( dict
          "manifest_url" .Entity.ManifestURL
          "target_url" .RepositoryURL
          "icon" "/static/ico-repo.svg"
          "label" false
        )
      }}
    </div>
  </div>
</header>

<p class="description" aria-label="Project description">{{ abbrev 200 .Description }}</p>

<footer class="meta">
  <span class="license" aria-label="License">
      {{ $l := (index .Licenses 0) }}
      {{ $len := sub (len .Licenses) 1 }}
      <a href="/search?type=project&license={{ $l }}">
        {{ trimPrefix "spdx:" $l }} {{ if (gt $len 0) }} +{{ $len }}{{ end }}
      </a>
  </span>

  {{ template "tags" .Tags }}
</footer>
{{ end }}
